.homePage{
    width: 100%;
    position: relative;
}
.img_box{
position: relative;
width: 100%;
}
.img_box_text{
    position: absolute;
    width: 50%;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 0 0 80px;
}
.textH1{
    position: relative;
    width: 100%;
    font-size: 65px;
    font-weight: 760;
    padding: 10px 20px 0;
    margin: 0;
    color: rgb(255,139,91);

    letter-spacing: 5px;
}.textP{
    position: relative;
    width: 90%;
    font-size: 25px;
    padding: 10px 20px 0;
    letter-spacing: 3px;
    line-height: 1;
    color: rgb(95,95,95);

}
.btn_box{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 60%;
}
.img1{
    position: relative;
    width: 70%;
    left: 30%;
}
.img2{
    position: relative;
    width: 70%;
}
.img_box_text2{
    position: absolute; 
    width: 50%;
    left: 50%;
    z-index: 1;
    top:40%;
    transform: translateY(-50%);
}
.textP2{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    height: 100px;
    padding: 10px 20px 10px;
    margin-top: 30px;
    letter-spacing: 3px;
    line-height: 1;
    color: rgb(255,139,91);
}