.loginForm_box{
    position: relative;
    width: 100%;
    padding: 100px 0 0;
}
.login_title{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    padding:20px 0;
}
.login_form{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 350px;

}
.login_input{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding: 5px 10px;
    color: #a0a0a0;;
}
.login_error{
    position: relative;
    color: rgb(255, 81, 81);
    width: 100%;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 500;
}
.login_button{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-top:20px ;
}
.login_button button{
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(43,122,226);
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 500;
}
.login_button button:hover{
    background-color: rgb(29, 114, 226);
}
.account_note{
    position: relative;
    width: 100%;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    height: 30px;

}
.regis_link_in_login{
    position: relative;
    cursor: pointer;
    color: #4F6AEE;
    font-size: 15px;
    padding: 0 10px;
    text-decoration: none;
    list-style: none;
}
.regis_link_in_login:hover{
    text-decoration: underline ;
    
}