.navbar{
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 30px ;
    background-color: rgb(255,139,91);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar_heading{
    position: relative;
    width: 170px;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
    font-size: 40px;
}
.links{
    position: relative;
    display: flex;
    align-items: center;
}
.account{
    position:relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: box-shadow 500ms;
}
.account:hover{
    box-shadow: 1px 1px 10px rgba(59, 60, 61, 0.562);
}
.divider{
    padding: 0;
    margin: 0;
}
.menuItem{
    width: 120px;
}
.breadCrumbs{
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 20px;


}
.link{
    color: white;
    font-weight: 500;
}

